<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

        <!-- launchctl load -w window-explorer-launchd.plist -->
        <!-- launchctl unload -w window-explorer-launchd.plist -->

        <key>Label</key>
        <string>window-explorer-launchd.plist</string>

        <key>Program</key>
        <string>/Users/Tim/Downloads/WindowExplorer.app/Contents/MacOS/WindowExplorer</string>

        <!-- Launch when user logs in -->
        <key>RunAtLoad</key>
        <true/>

        <!-- Start at 7am -->
        <key>StartCalendarInterval</key>
        <dict>
        	<key>Hour</key>
        	<integer>7</integer>
        	<key>Minute</key>
        	<integer>0</integer>
        </dict>

        <!-- Restart if app crashes, Don't restart if manually closed or exit with 0 -->
        <key>KeepAlive</key>
        <dict>
          <key>NetworkState</key>
          <true/>
          <key>SuccessfulExit</key>
	        <false/>
        </dict>

        <key>StandardErrorPath</key>
        <string>/Users/irshdc/dev/InteractiveWall/error.log</string>

        <key>StandardOutPath</key>
        <string>/Users/irshdc/dev/InteractiveWall/info.log</string>
</dict>
</plist>
